/* テンプレート　ここから */

body {
    background-color: #f5fffa;
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
}

h2 {
    text-align: center;
    margin: 30px 0 50px 0;
}

.center {
    margin: 0 auto 50px auto;
    padding: 50px 20px;
    width: 80%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
}

hr {
    width: 70%;
}

.contents {
    text-align: center;
}

table {
    margin: 0 auto;
    width: 100%;
}

.index {
    text-align: right;
    width: 30%;
}

table tr {
    line-height: 3;
}

.input_txt {
    width: 60%;
    height: 30px;
    margin-left: 30px;
}

.btn_center {
    width: 50%;
    text-align: center;
    margin: 30px auto;
}

.login_btn {
    border: none;
    width: 150px;
    height: 50px;
}

.input_btn {
    border: none;
}

.input_btn {
    display: inline-block;
    color: #000;
    text-decoration: none;
    border-radius: 5%;
    background-color: #f0f8ff;
    border-bottom: 4px solid #c0c5c2;
}

.regist_btn {
    padding: 15px 40px;
}

.input_btn:hover {
    transform: translateY(4px);
    border-bottom: none;
}

/* テンプレート　ここまで */


/* トップページ 　ここから*/

#line {
    width: 100%;
}

.right {
    text-align: right;
}

/* トップページ 　ここまで*/


/* 新規登録ページ　ここから */

#input_btn1,
#input_btn2 {
    text-align: center;
    width: 130px;
    height: 50px;
    padding: 15px;
    margin: 0 10px;
}

#btn_center {
    width: 30%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

/* 新規登録ページ　ここまで */

/* 会員情報変更ページ　ここから */

.btn_right {
    /* width: 50%; */
    text-align: right;
    margin: 30px auto;
}

.input_btn2:hover {
    transform: translateY(4px);
    border-bottom: none;
}

/* 会員情報変更ページ　ここまで */